@import "_globals.scss";
.App {
  text-align: center;
  .App_Movies {
    display: flex;
    justify-content: center;
  }
  .App_Filters {
    margin: $space1;
  }
  input {
    background-color: $white;
    border: 1px solid $darkgrey;
    border-radius: 50px;
    padding: $space05 $space1;
    font-size: 1.2rem;
  }
  input:hover {
    background-color: $grey;
  }
}
