@import "../_globals.scss";

.Movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: calc(100vw - (($space2 + $space1 + $space025) * 2));
  padding: $space1;
  background-color: $white;
  .Movie_Title {
    font-size: 2rem;
  }
  .Movie_Img {
  }
  .Movie_Info {
  }
  .Movie_Status {
  }
  .Movie_Title,
  .Movie_Img,
  .Movie_Info,
  .Movie_Status {
    margin-bottom: $space1;
  }
}
#to-watch {
  border: $space025 solid $accent_bright;
}
#seen {
  border: $space025 solid $accent_med;
}
#dropped {
  border: $space025 solid $accent_dark;
}

@media screen and (min-width: 430px) {
  .Movie {
    margin-inline: auto;
  }
}
